:root {
  --white: #ffffff;
  --primary: #42b4ee;
  --black: #051114;
  --purple-dark: #461096;
  --purple-light: #7f3ce0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background: var(--white);
  color: var(--white);
  overflow-x: hidden;
}

/* ---------------- Navbar ---------------- */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(
    to right,
    var(--purple-dark),
    var(--purple-light)
  );
}

.navbar__logo img {
  width: 60%;
  height: auto;
  object-fit: cover;
}

.navbar__button {
  background: var(--primary);
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  color: var(--white);
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.navbar__button:hover {
  background: var(--white);
  color: var(--primary);
}

.navbar__menu-links {
  display: none;
}

/* ---------------- Hero Section ---------------- */

.hero {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(
    to right,
    var(--purple-dark),
    var(--purple-light)
  );
}

/* .hero__content {
  display: flex;
  flex-direction: column;
} */

.hero__content h1 {
  font-size: 2rem;
  color: var(--white);
}

.hero__content strong {
  color: var(--white);
}

.hero__content p {
  font-size: 0.9rem;
  color: #e4e4e4;
  margin-top: 1rem;
  line-height: 1.4;
  text-align: justify;
}

.hero__button {
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  padding: 13px 18px;
  margin-top: 2rem;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.hero__button:hover {
  background: var(--white);
  color: var(--primary);
}

.hero__image img {
  width: 100%;
}

/* ! section 2  */
.section-2__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1%;
  width: 100%;
  background-color: #fff;
  color: #051114;
}

.features__image-wrapper {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}

.features__image--bg {
  width: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(100%);
}

.features__image--front {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}

.features__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.features__title {
  font-size: 1.4rem;
  color: #1b1b1b;
  margin-top: 2rem;
  text-align: center;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feature__header {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.feature__icon {
  width: 13px;
  height: 15px;
}

.feature__title-sec-2 {
  font-size: 1rem;
  font-weight: bold;
}

.feature__text {
  color: #555;
  font-size: 0.7rem;
  line-height: 1.2;
}

.feature__text-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* ! section 3  */
.container__feature {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
}

.feature__title {
  font-size: 1.3rem;
  margin: 0 auto 30px auto;
  color: #1e1e1e;
}

.feature__cards-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cards-box__card {
  background: #fff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.cards-box__card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(127, 60, 224, 0.25) 0px 10px 30px;
}

.cards-box__profile-img img {
  width: 70%;
}

.cards-box__info h3 {
  font-size: 1.3rem;
  color: #1e1e1e;
  margin-bottom: 1rem;
}

.cards-box__info p {
  font-size: 0.95rem;
  color: #777;
}

.cards-box__icon a {
  color: var(--primary);
  transition: color 0.2s ease;
  font-weight: lighter;
  border: 1px solid var(--primary);
  border-radius: 50%;
  padding: 10px;
}

.cards-box__icon a:hover {
  color: var(--white);
  background: var(--primary);
}

/* ! section 4  */
.container__price {
  width: 85%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin: 6rem auto 1rem;
}

.price__titles h2 {
  font-size: 1.5rem;
  color: #1e1e1e;
  margin-bottom: 5px;
}

.price__titles h5 {
  font-size: 0.85rem;
  color: #555;
  margin-top: 1rem;
}

.price__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.price__box__card {
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 18px;
  padding: 1.5rem 1rem;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.price__box__card:hover {
  transform: translateY(-6px);
  box-shadow: rgba(127, 60, 224, 0.15) 0px 10px 28px;
}

.price-title {
  position: relative;
  font-size: 1.5rem;
  color: #1f1f1f;
  padding-bottom: 8px;
  margin-bottom: 0.5rem;
}

.price-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background: #9b9b9b;
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #383838;
  margin-bottom: 0.8rem;
}

.price-span {
  font-size: 0.9rem;
  color: #727272;
}

.features ul {
  list-style: none;
  padding: 5px;
  margin: 1rem 0;
}

.features li {
  font-size: 0.9rem;
  line-height: 3;
  color: #1e1e1e;
  border-bottom: 1px solid #eee;
}

.price-btn {
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background: linear-gradient(145deg, #e7e7e7, #ffffff);

  color: var(--black);
  transition: all 0.3s ease-in-out;
  width: 90%;
}

.price-btn:hover {
  background: #7f3ce0;
  color: #fff;
}

.primary-card {
  background: linear-gradient(145deg, #ddcafa, #ffffff);
  border: 1px solid #e4d9ff;
}

.primary-card .price-btn {
  background: linear-gradient(145deg, #ddcafa, #ffffff);
}

.primary-card .price-btn:hover {
  background: #7f3ce0;
  color: #fff;
}

/* ! section-5 */

.section-5 {
  background: #fff;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
  padding: 0 20px;
}

.section-5__header-title h2 {
  font-size: 1.5rem;
  color: #1e1e1e;
  margin-bottom: 15px;
}

.section-5__header-title p {
  font-size: 0.8rem;
  color: #666;
  line-height: 1.6;
  margin: 0px auto;
}

.section-5__card {
  background: #fff;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 24px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  margin-bottom: 40px;
}

.section-5__card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(127, 60, 224, 0.2) 0px 12px 32px;
}

.section-5__card--title p {
  font-size: 0.95rem;
  color: #444;
  line-height: 1.7;
  margin-bottom: 25px;
  font-style: italic;
  position: relative;
  padding: 0 10px;
}

.section-5__card--title {
  position: relative;
  padding-left: 30px;
}

.section-5__card--title p {
  margin: 0;
  position: relative;
}

.section-5__card--title p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("./assets/images/section-5-text-img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.section-5__bottom-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.section-5__card--img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.section-5__card--text h4 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #1e1e1e;
  padding-bottom: 10px;
}

.section-5__card--text p {
  font-size: 0.75rem;
  color: #777;
}

/* ! section-6  */

.section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 80px 20px;
  background: var(--white);
}

.section-6__header h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  color: #1a1a1a;
}

.section-6__cards-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section-6__card {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.section-6__card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 10px 32px 0px;
}

.section-6__card-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.section-6__card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #888;
  padding: 14px 20px;
}

.section-6__bouttom-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.section-6__h3 h3 {
  font-size: 1.2rem;
  color: #222;
  line-height: 1.4;
}

.section-6__p p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}

.section-6__button {
  display: flex;
  justify-content: flex-start;
}

.section-6__button button {
  background: var(--primary);
  color: #fff;
  font-size: 0.95rem;
  font-weight: lighter;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section-6__button button:hover {
  opacity: 0.85;
}

/* ! footer  */
.footer {
  background: #051114;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
}

.footer-head {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-info-1,
.footer-info-2,
.footer-info-3,
.footer-info-4 {
  flex: 1;
  min-width: 220px;
  line-height: 1.5;
}

.footer-info-1 .logo img {
  width: 150px;
  margin-bottom: 20px;
}

.footer-info-1 .description p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 20px;
  padding: 0 10px;
  max-width: 270px;
  color: #ccc;
}

.footer-info-1 .social-icons img {
  width: 30px;
  margin-right: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.footer-info-1 .social-icons img:hover {
  transform: scale(1.1);
}

.footer-info-2 h3,
.footer-info-3 h3,
.footer-info-4 h3 {
  font-size: 1rem;
  margin-top: 15px;
}

.footer-info-2 p,
.footer-info-3 p {
  font-size: 0.8rem;
  color: #ccc;
  margin: 4px 0;
  transition: 0.3s ease;
}

.footer-info-2 p:hover,
.footer-info-3 p:hover {
  color: #42b4ee;
}

.footer-info-4 p {
  font-size: 0.9rem;
  margin: 5px 0;
  color: #ccc;
}

.newsletter-form {
  display: flex;
  gap: 0;
  margin-top: 10px;
}

.newsletter-form input {
  flex: 1;
  padding: 20px 15px;
  border: 1px solid #949494;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right-color: var(--primary);
  outline: none;
  color: var(--white);
  background: var(--black);
  max-width: 230px;
  max-height: 40px;
  width: 100%;
}

.newsletter-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  background: #42b4ee;
  border: none;
  border-radius: 0 4px 4px 0;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
  max-height: 42px;
  margin-bottom: 20px;
  width: 20%;
  font-weight: bold;
  letter-spacing: 1px;
}

.newsletter-form button:hover {
  background: #7f3ce0;
}

.footer-copyright {
  border-top: 1px solid #222;
  padding-top: 30px;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media (min-width: 760px) {
  /* ! section 1  */
  .navbar__menu-links {
    display: flex;
    gap: 20px;
  }
  .navbar__menu-links a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
    padding: 10px;
  }
  .navbar__menu-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, #2fa0d9, transparent);
    transition: all 0.3s ease;
  }
  .navbar__menu-links a:hover::after {
    width: 100%;
  }
  .navbar__menu-links a:hover {
    color: var(--primary);
  }

  .desktop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .hero {
    flex-direction: row;
  }
  /* ! section 2  */
  .section-2__features {
    flex-direction: row;
  }
  /* ! section 3  */
  .feature__cards-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* ! section 4  */
  .price__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  /* ! section 5 */
  .section-5 {
    width: 90%;
  }
  .section-5__cards-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  /* ! section 6 */
  .section-6__cards-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* ! footer  */
  .footer-head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .navbar__logo img {
    width: 150px;
  }
  .navbar__button {
    padding: 15px 30px;
    font-size: 1rem;
    margin-left: 4rem;
    margin-bottom: 7px;
  }

  .desktop-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*! Hero */
  .hero__content {
    max-width: 500px;
    margin-bottom: 15%;
  }

  .hero__content h1 {
    font-size: 4rem;
    line-height: 1.2;
  }

  .hero__content p {
    font-size: 1.3rem;
  }

  .hero__button {
    padding: 18px 35px;
    font-size: 1rem;
  }

  .hero__image img {
    width: 800px;
    max-width: 100%;
    margin-bottom: 30%;
    margin-left: 10%;
  }

  .features__image-wrapper {
    width: 700px;
    margin-right: 50px;
  }

  /*! Features */

  .features__title {
    font-size: 2.2rem;
    width: 80%;
  }

  .feature__title-sec-2 {
    font-size: 1.5rem;
  }

  .feature__text {
    font-size: 1rem;
  }

  .feature__header img {
    width: 30px;
    height: 30px;
  }

  .features__content {
    width: 40%;
  }
  .feature__title {
    font-size: 2rem;
    width: 500px;
  }

  /* ! section-3  */
  .feature__cards-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .cards-box__card {
    justify-content: space-between;
    width: 300px;
    height: 450px;
  }
  .cards-box__profile-img {
    width: 200px;
    object-fit: cover;
  }

  /* ! section 4  */
  .container__price {
    width: 85%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 6rem auto 1rem;
  }
  .price__box__card {
    height: 600px;
  }
  .features ul li {
    font-size: 1.2rem;
  }
  .price__box__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .price {
    font-size: 3rem;
  }

  /* ! section 5  */
  .section-5 {
    background: #fff;
    max-width: 1300px;
    margin: 150px auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;
    padding: 0 20px;
  }

  .section-5__header-title h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #1e1e1e;
    margin-bottom: 25px;
  }

  .section-5__header-title p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    max-width: 610px;
    margin: 0px auto;
  }

  .section-5__cards-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
  }

  .section-5__card {
    background: #fff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 24px;
    padding: 55px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
  }

  .section-5__card:hover {
    transform: translateY(-10px);
    box-shadow: rgba(127, 60, 224, 0.2) 0px 12px 32px;
  }

  .section-5__card--title p {
    font-size: 0.95rem;
    max-width: 250px;
    color: #444;
    line-height: 1.7;
    margin-bottom: 25px;
    font-style: italic;
    position: relative;
    padding: 20px 10px;
  }

  .section-5__card--title p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 50px;
    background-image: url("./assets/images/section-5-text-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section-5__card--title {
    position: relative;
    padding-left: 30px;
  }

  .section-5__card--title p {
    margin: 0;
    position: relative;
  }

  .section-5__bottom-info {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .section-5__card--img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  .section-5__card--text h4 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #1e1e1e;
    padding-bottom: 10px;
  }

  .section-5__card--text p {
    font-size: 0.75rem;
    color: #777;
  }

  /*! Section 6 */

  .section-6 {
    background: #fff;
    max-width: 1400px;
    margin: 150px auto 30px auto;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 50px;
    padding: 0 20px;
  }

  .section-6__card-image img {
    height: 350px;
  }

  .section-6__header h3 {
    font-size: 2.5rem;
  }

  .section-6__cards-box {
    gap: 3rem;
  }

  .section-6__card {
    width: 550px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .section-6__card-info {
    font-size: 1rem;
    padding: 15px;
    margin: 0 23px;
  }

  .section-6__p p {
    margin-top: 10px;
  }

  .section-6__bouttom-info {
    padding: 40px;
  }

  .section-6__button button {
    padding: 16px 36px;
    margin-top: 30px;
    font-size: 1rem;
  }

  .section-6__h3 {
    margin-top: -30px;
  }
  /*! Footer */
  .footer {
    gap: 40px;
  }
  .footer-head {
    padding-left: 100px;
    margin-left: 400px;
  }
}
